
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PHP</title>
</head>
<body>
  <header>
    <h1>Exercise 00: </h1>

    <section id="description">
      <div id="focus">
        <strong>Focus:</strong> 
        <p>
        </p>
      </div>
      <div id="task">
        <strong>The Task:</strong>
        <ol>
        <li></li>
        </ol>
      </div>
    </section>
  </header>
  <main>
    <section>
      <h2>Examples</h2>
      <div id="data">
        <h3>Input:</h3>
        <pre>

        </pre>
      </div>

      <div id="output">
        <h3>Output:</h3>
        <p id="output-value">
          <pre></pre>
        </p>
      </div>
    </section>

    <section>
      <h2>Solutions</h2>
      <script type="text/javascript">
       
      </script>

      <h2>Code:</h2>
      <pre>

      </pre>

    </section>

 
  </main>

  <footer>


  </footer>

</body>
</html>