
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PHP</title>
</head>
<body>
  <header>
    <h1>Exercise 00: </h1>

    <p>
    </p>
  </header>
  <main>
    <section>
      <h2>Example</h2>
        <ul>
        <li><strong>Input:</strong></li>

        </ul>
    </section>
    <section>

      <div id="output">
        <h3>Output:</h3>
        <p id="output-value"></p>
      </div>

      <script type="text/javascript">
       
      </script>

<h2>Code:</h2>
      <pre>

      </pre>
      
    </section>
  </main>

  <footer>


  </footer>

</body>
</html>