
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coding Exercises</title>
</head>
<body>
  <header>
    <h1>Exercise 003: Product Stock Report </h1>

    <section id="description">
      <div id="focus">
        <strong>Focus:</strong> filter, map, reduce, basic string formatting
        <p>
        </p>
      </div>
      <div id="task">
        <strong>The Task:</strong>
        <p>
You are given an array of products. Each product has:
        </p>
        <ol>
        <li>name</li>
        <li>price</li>
        <li>inStock</li>
        </ol>

        Keeps only products where inStock is true.
Creates a new array of strings in this format:
<pre>
"Notebook - \$4.50"
</pre>
<p>
Calculates the total price of all in-stock products.
</p>
Return or log both:
<ul>
  <li>the formatted array</li>
  <li>the total</li>
</ul>


      </div>
    </section>
  </header>
  <main>
    <section>
      <h2>Examples</h2>
      <div id="data">
        <h3>Input:</h3>
        <pre>
const products = [
  { name: "Notebook", price: 4.5, inStock: true },
  { name: "Pen", price: 1.2, inStock: false },
  { name: "Backpack", price: 25.0, inStock: true },
  { name: "Pencil", price: 0.8, inStock: true }
];
        </pre>
      </div>

      <div id="output">
        <h3>Output:</h3>
        <p id="output-value">
          <pre>
            [
  "Notebook - \$4.50",
  "Backpack - \$25.00",
  "Pencil - \$0.80"
]
          </pre>
        </p>
      </div>
    </section>

    <section>
      <h2>Solutions</h2>
      <script type="text/javascript">
       
      </script>

      <h2>Code:</h2>
      <pre>

      </pre>

    </section>

 
  </main>

  <footer>


  </footer>

</body>
</html>